.dados-reserva {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.dados-reserva h1 {
  text-align: center;
  margin-bottom: 20px;
}

.dados-reserva form {
  display: flex;
  flex-direction: column;
}

.dados-reserva label {
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.dados-reserva input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dados-reserva button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dados-reserva button:hover {
  background-color: #550000; /* Bordô mais escuro */
}
